@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root {
    --white: #ffffff;
    --light: #f6f6f6;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
}

.hiden {
    display: none!important;
}


/* header */

.nav {
    position: relative;
    width: 100%;
    min-height: 60px;
    background-color: var(--white);
    box-shadow: 0 1px 1px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.toFixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    animation:  showNavBar ease-in-out 1 .5s forwards;
}

.nav .logo {
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 28px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to left , #12c2e9, #c471ed, #f64f59);
    cursor: pointer;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 24px;
    display: inline-block;
    opacity: .7;
    transition: all .5s linear;
}

.nav li a:hover {
    background-image: linear-gradient(to top , #c471ed 0, transparent 50%);
    opacity: 1;   
}
.nav li a.active {
    opacity: 1;
}

.nav .line {
    position: absolute;
    bottom: 0;
    height: 6px;
    border-radius: 8px;
    background-image: linear-gradient(to left , #12c2e9, #c471ed, #f64f59);
    transition: .3s;
}

.nav .input-search {
    border: 1px solid #ccc;
    border-radius: 16px;
    padding-left: 12px;
    overflow: hidden;
}

.input-search input {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 8px;
}

.input-search button {
    height: 28px;
    padding: 0 8px;
    border: none;
    border-left: 1px solid #ccc;
    background-color: var(--white);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.input-search button:hover {
    background-color: #ccc;
}

.nav .cart-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    border: 1px solid transparent;
    cursor: pointer;
}

.cart-bar .count-product {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 14px;
    background-color: red;
    color: var(--white);
    font-size: 14px;
}

.nav .cart-bar:hover {
    border: 1px solid #ccc;
}

.form-user {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-user:hover .user {
    background-color: var(--light);
}

.nav-bar {
    position: absolute;
    min-width: 200px;
    top: 60px;
    right: 0;
    border-radius: 16px;
    flex-direction: column;
    background-color: var(--white);
    z-index: 1;
    box-shadow: -1px 5px 5px #ccc;
    cursor: default;
    overflow: hidden;
    animation:  showNavBar ease-in-out 1 .5s forwards;
}

@keyframes showNavBar {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.nav-bar li:first-child {
    border-bottom: 1px solid #ccc;
}

.nav-bar .info-user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    cursor: pointer;
}


.info-user .user::before {
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to top , rgba(0 ,0 ,0, .7) 40%, transparent 0);
    z-index: 1;
}

.info-user .user::after {
    position: absolute;
    content: 'Sửa';
    font-size: 11px;
    font-weight: bold;
    color: var(--white);
    top: 59%;
    left: 45px;
    z-index: 1;
}

.nav-bar li:nth-child(2) {
    height: 35px;
    line-height: 35px;
    padding-left: 12px;
    cursor: pointer;
}

.nav-bar li:hover {
    background-color: var(--light);
}

/*End header */


/* slideshow */

.slideshow {
    position: relative;
    width: 80%;
    height: 300px;
    margin: 16px auto;
    display: flex;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 10px 10px #ccc;
}

@keyframes showTitle {
    from{
        filter: blur(33px);
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.slideshow .info {
    display: none;
    width: 70%;
    padding: 50px;
}

.info.active {
    display: block;
}

.info .title {
    font-size: 40px;
    font-family: 'Lobster', cursive;
    opacity: 0;
    animation:  showTitle ease-in-out 1 .5s forwards;
}

.info .description {
    font-size: 20px;
    padding-top: 30px;
    opacity: 0;
    animation:  showTitle ease-in-out 1 1.2s forwards;
}

.slider-wap {
    position: absolute;
    top: 20px;
    right: 100px;
    width: 185px;
    height: 260px;
    overflow: hidden;
}

.slider {
    width: 500%;
    display: flex;
}

.slide {
    width: 20%;
    transition: .3s;
}

.slide img {
    width: 100%;
}


.btn-slide {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    cursor: pointer;
}

.btn-slide .btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.btn-slide .btn.active {
    background-color: #ccc!important;
} 

.btn-slide .btn:not(last-child) {
    margin-left: 12px;
}

.btn-slide .btn:hover {
    background-color: var(--light);
}

/*End slideshow */

/* list Produces */

.list-products {
    padding: 20px 0;
}

.products {
    position: relative;
}

.list-item {
    position: relative;
    width: 90%;
    height: 420px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    overflow: hidden;
}

.list-item .item {
    position: absolute;
    width: 260px;
    height: 380px;
    padding: 16px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.list-item .item:first-child {
    left: calc(8% - 296px);
    opacity: 0;
}

.list-item .item:nth-child(2) {
    left: 8%;
}

.list-item .item:nth-child(3) {
    left: calc(8% + 296px);
}

.list-item .item:nth-child(4) {
    left: calc(8% + 592px);
}

.list-item .item:nth-child(5) {
    left: calc(8% + 888px);
}

.list-item .item:nth-child(n+6) {
    left: calc(8% + 1148px);
    opacity: 0;
}

.list-item .item:first-child .btn-add,
.list-item .item:nth-child(n+6) .btn-add {
    cursor:default;
}



.list-item .item img {
    padding: 10px 40px 20px;
    width: 228px;
    height: 240px;
    object-fit: cover;
    object-position: center;
    transform: translateY(0);
    transition: .5s;
}

.list-item .item:hover img {
    transform: translateY(-40px);
    width: 248px;
    /* height: 260px; */
}

.item .title-item {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.item .price {
    color: #f51919;
    font-weight: bold;
    padding: 8px 0;
}

.item .btn-add {
    height: 36px;
    width: 100px;
    border-radius: 20px;
    background-color: #317ff5;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transform: translateY(0);
    transition: .5s;
}

.item .btn-add:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 4px #317ff5;
}

.box-product .title-product {
    padding: 12px 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

.btn-products {
    position: absolute;
    top: 48%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 60px;
}

.next,
.pver {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 10px #ccc;
    z-index: 1;
}

.box-product .next:hover,
.box-product .pver:hover {
    background-color: var(--light);
}

/*End list Produces */

/* cart */

.overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0 ,0 ,0, .4);
    z-index: 3;
    cursor: pointer;
    animation: showCart linear 1 .3s forwards;
}

.list-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    width: 25%;
    z-index: 3;
    transform: translateX(0);
    opacity: 1;
    transition: 1s;
}

.overlay.hidenCart {
    display: none;
}

.hidenCart {
    transform: translateX(100%);
    opacity: 0;
}

.close-title {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.i-close {
    font-size: 1.5em;
    cursor: pointer;
    rotate: 0deg;
    transition: .5s;
}

.list-cart.hidenCart .i-close {
    rotate: 180deg;
}

.close-title .title {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    flex: 1;
    text-align: center;
}

.list-cart .list-item-cart {
    flex: 1;
    padding: 12px 20px;
    overflow: auto;
}

.list-item-cart::-webkit-scrollbar {
    width: 0;
}

.list-item-cart .item-cart {
    display: flex;
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.list-cart .item-cart:last-child {
    border: none;
}

.item-cart img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.item-cart .info-cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 12px;
}

.info-cart .title{
    font-size: 1.2em;
}

.info-cart .price {
    font-size: 1.5em;
    color: red;
    font-weight: bold;
}

.info-cart input {
    width: 50px;
    height: 24px;
    padding: 4px;
}

.item-cart .i-delete {
    font-size: 1.1em;
    width: 18px;
    height: 18px;
    opacity: 0;
    transition: .3s;
}

.item-cart:hover .i-delete{
    opacity: 1;
    cursor: pointer;
}

.item-cart .i-delete:hover {
    color: #f51919;
}

.list-cart .total-cart {
    padding: 20px;
    border-top: 1px solid #ccc;
}

.total-cart .total {
    font-size: 1.52em;
    color: red;
    font-weight: bold;
    padding: 12px 0;
    border-bottom: 1px solid #ccc;
}

.total-cart .total span {
    font-family: 'Lobster', cursive;
    font-size: 1.53em;
}

.total-cart button {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    border: none;
    border-radius: 8px;
    background-color: #12c2e9;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    transform: translate(33% , 0);
    transition: .3s;
    cursor: pointer;
}

.total-cart button:hover {
    background-color: #12c2e9D9;
    transform: translate(33% , -10px);
    box-shadow: 0 5px 5px #12c2e9;
}


/*End cart */


